$text-color: var(--color-neutral-800);
$text-color-on-hover: var(--color-neutral-100);
$background-color: var(--color-neutral-100);
$background-color-on-hover: var(--color-neutral-800);
$border-color: var(--color-neutral-800);

$font-size: 1.25rem;
$font-weight: 500;

$padding-block: 1.25rem;
$padding-inline: 2rem;
$border-width: 2px;
$border-radius: 1px;

$transition-duration: 0.5s;
$transition-timing-function: var(--ease-in-out);
