$border-radius: 50rem;

@mixin transition() {
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.button {
  @include transition();

  position: relative;

  border-radius: $border-radius;

  box-shadow: 0 0 1rem var(--color-blue-500);

  cursor: pointer;
  transition-property: box-shadow;

  &:hover {
    box-shadow: 0 0 2rem var(--color-green-500);

    .poppingBackground {
      scale: 1.25;

      background-color: var(--color-green-500);
      opacity: 0;
    }
  }
}

.contentWrapper {
  display: inline-block;

  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  padding: 1rem 2rem;

  color: var(--color-neutral-200);
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: $border-radius;

  background-color: var(--color-neutral-800);
}

.poppingBackground {
  @extend .background;
  @include transition();

  z-index: -2;

  scale: 1;

  background-color: var(--color-blue-500);
  opacity: 1;

  pointer-events: none;
  transition-property: scale, background-color, opacity;
}
