$text-color: var(--color-neutral-800);
$text-color-on-hover: var(--color-neutral-100);
$background-color: transparent;
$background-color-on-hover: var(--color-neutral-800);
$disk-color: var(--color-neutral-800);

$font-size: 1.25rem;
$font-weight: 500;

$padding: 1.25rem 2rem;
$border-width: 2px;
$border-radius: 10rem;

$disk-size-big: 2rem;
$disk-size-medium: 1.5rem;
$disk-size-small: 1rem;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);
