$text-color: var(--color-neutral-800);
$background-color: var(--color-neutral-100);
$border-color: var(--color-neutral-800);

$font-size: 1.25rem;
$font-weight: 500;
$font-weight-on-hover: 800;
$text-transform: uppercase;
$letter-spacing: 0;
$letter-spacing-on-hover: 0.2ch;

$padding: 1.25rem 2rem;
$border-width: 2px;
$border-width-on-hover: 1.25rem * 0.25;
$border-radius: 100rem;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);
