$text-color-1: var(--color-sky-50);
$text-color-2: var(--color-green-50);
$background-color-1: var(--color-sky-700);
$background-color-2: var(--color-green-700);
$background-color-filler: var(--color-neutral-100);
$border-color: var(--color-neutral-800);

$font-size: 1.25rem;
$font-weight: 500;

$padding: 1.25rem 2rem;
$border-width: 2px;
$border-radius: 1px;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);
