@use './Button7Settings' as settings;

.button {
  position: relative;

  display: grid;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;

  border: settings.$border-width solid currentColor;
  border-radius: settings.$border-radius;
  overflow: hidden;

  border-color: settings.$border-color;

  cursor: pointer;
}

.contentWrapper {
  grid-area: 1 / 1 / -1 / -1;

  font-size: settings.$font-size;
  line-height: 1;
  font-weight: settings.$font-weight;

  padding: settings.$padding;

  transition-duration: settings.$transition-duration;
  transition-timing-function: settings.$transition-timing-function;
  transition-property: translate;
}

.firstContentWrapper {
  @extend .contentWrapper;

  translate: 0 0;

  color: settings.$text-color-1;
  background-color: settings.$background-color-1;
}
.button:hover .firstContentWrapper {
  translate: 100% -100%;
}

.secondContentWrapper {
  @extend .contentWrapper;

  translate: -100% 100%;

  color: settings.$text-color-2;
  background-color: settings.$background-color-2;
}
.button:hover .secondContentWrapper {
  translate: 0 0;
}

.fillerBackground {
  grid-area: 1 / 1 / -1 / -1;

  position: relative;
  z-index: -1;

  background-color: settings.$background-color-filler;
}
