$text-color: var(--color-neutral-800);
$background-color: var(--color-neutral-100);
$border-color: var(--color-neutral-800);
$rotating-background-opacity: 50%;
$rotating-background-color-1: var(--color-green-200);
$rotating-background-color-2: var(--color-blue-200);

$font-size: 1.25rem;
$font-weight: 500;

$padding: 1.25rem 2rem;
$border-width: 2px;
$border-radius: 1px;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);
