// Generic values
$font-size: 1.25rem;
$font-weight: 500;

$border-width: 1px;
$border-radius: 1px;

$transition-duration: 0.75s;
$transition-timing-function: var(--ease-in-out);

// Specific values
$menu-row-gap: 0.625rem;
$menu-padding: 1.25rem 1rem;
$menu-background-color: var(--color-neutral-50);
$menu-border-color: var(--color-neutral-100);

$button-padding: 0.5rem 1rem;
$button-text-color: var(--color-neutral-800);
$button-text-color-on-hover: var(--color-green-50);
$button-background-color-on-hover: var(--color-green-700);
