@use 'sass:math';

$text-color: var(--color-sky-100);
$text-color-on-hover: var(--color-green-100);
$background-color: var(--color-neutral-800);
$border-color: var(--color-sky-500);
$border-color-on-hover: var(--color-green-500);

$font-size: 1.25rem;
$font-weight: 500;
$letter-spacing: math.div(1em, 16);
$text-transform: uppercase;

$padding: 1.25rem 2rem;
$border-width: 2px;
$border-radius: 1px;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);
