.list {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 4rem;

  max-width: 80rem;
  padding: 5rem 4rem;
  margin-inline: auto;
}
