$border-color: var(--color-green-300);
$image-background-color: var(--color-neutral-300);

$object-position: center;

$border-thickness: 4px;
$border-radius: 1px;

$scale-factor-on-hover: 1.5;
$rotate-angle-on-hover: 18deg;

$transition-duration: 0.5s;
$transition-timing-function: var(--ease-in-out);
