$text-color: var(--color-neutral-800);
$background-color: transparent;
$border-color-1: var(--color-sky-500);
$border-color-2: var(--color-green-500);

$font-size: 1.25rem;
$font-weight: 500;

$padding: 1.25rem 2rem;
$border-width: 4px;
$border-radius: 1px;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);
