$border-radius: 1px;

@mixin transition() {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.button {
  position: relative;

  cursor: pointer;

  &:hover {
    .leftBackgroundFragment,
    .rightBackgroundFragment {
      border-radius: $border-radius;

      transform: skewX(45deg);
    }
    .leftBackgroundFragment {
      left: 50%;

      translate: 6.25% 6.25%;
    }
    .rightBackgroundFragment {
      left: 0;

      translate: -6.25% -6.25%;
    }
  }
}

.contentWrapper {
  display: inline-block;

  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  padding: 1rem 2rem;

  color: white;
}

.backgroundFragment {
  @include transition();

  position: absolute;
  z-index: -1;
  top: 0;

  width: 50%;
  height: 100%;

  translate: 0 0;

  mix-blend-mode: screen;

  transition-property: translate, left, transform;
}

.leftBackgroundFragment {
  @extend .backgroundFragment;

  left: 0;

  border-radius: $border-radius 0 0 $border-radius;

  background-color: var(--color-green-600);
}
.rightBackgroundFragment {
  @extend .backgroundFragment;

  left: 50%;

  border-radius: 0 $border-radius $border-radius 0;

  background-color: var(--color-blue-600);
}
