@use './Button24Settings' as settings;

@mixin transition() {
  transition-duration: settings.$transition-duration * 0.5;
  transition-timing-function: settings.$transition-timing-function;
}

@mixin transition-delay($frame-count) {
  transition-delay: settings.$transition-duration * 0.5 * $frame-count;
}

.button {
  position: relative;

  cursor: pointer;
}

.contentWrapper {
  display: inline-block;

  font-size: settings.$font-size;
  line-height: 1;
  font-weight: settings.$font-weight;
  letter-spacing: settings.$letter-spacing;
  text-transform: settings.$text-transform;

  padding: settings.$padding-block settings.$padding-inline;

  color: settings.$text-color;

  @include transition();
  @include transition-delay(0);
  transition-property: color;
}
.button:hover .contentWrapper {
  color: settings.$text-color-on-hover;

  @include transition-delay(1);
}

.normalBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: settings.$border-width solid currentColor;
  border-radius: settings.$border-radius;
  overflow: hidden;

  background-color: color-mix(
    in oklch,
    settings.$background-color settings.$background-opacity,
    transparent (100% - settings.$background-opacity)
  );
  border-color: color-mix(
    in oklch,
    settings.$border-color settings.$border-opacity,
    transparent (100% - settings.$border-opacity)
  );
  backdrop-filter: blur(settings.$blur);
}

.movingBackgroundFragment {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;

  transform: skewX(-45deg);

  background-image: linear-gradient(
    to right,
    transparent,
    color-mix(
      in oklch,
      settings.$background-fragment-color settings.$background-fragment-opacity,
      transparent (100% - settings.$background-fragment-opacity)
    )
  );

  @include transition();
  @include transition-delay(1);
  transition-property: left;
}
.button:hover .movingBackgroundFragment {
  left: 100%;

  @include transition-delay(0);
}

.glowingStick {
  position: absolute;
  z-index: -2;
  left: 50%;

  width: settings.$glowing-stick-width;
  height: settings.$glowing-stick-height;
  border-radius: settings.$border-radius;
  box-shadow: settings.$glowing-stick-box-shadow;

  translate: -50% -50%;

  background-color: settings.$glow-color;

  @include transition();
  @include transition-delay(0);
  transition-property: top, width, height, box-shadow, background-color;
}
.button:hover .glowingStick {
  width: calc(100% - 2 * settings.$padding-inline);
  height: 50%;

  box-shadow: settings.$glowing-stick-box-shadow-on-hover;

  background-color: settings.$glow-color-on-hover;

  @include transition-delay(1);
}

.topGlowingStick {
  @extend .glowingStick;

  top: 0;
}
.button:hover .topGlowingStick {
  top: 25%;
}

.bottomGlowingStick {
  @extend .glowingStick;

  top: 100%;
}
.button:hover .bottomGlowingStick {
  top: 75%;
}
