$title-color: var(--color-green-100);
$paragraph-color: var(--color-green-50);
$paragraph-background-color: var(--color-green-900);
$backdrop-color: var(--color-black);
$backdrop-opacity: 0.5;
$image-background-color: var(--color-neutral-300);

$content-translation-offset-on-hover: 12.5% * 0.25;

$title-font-size: 1.25rem;
$title-line-height: 1.75rem;
$title-font-weight: 600;
$title-text-transform: uppercase;
$title-margin-bottom: 0.75rem;

$paragraph-font-size: 1rem;
$paragraph-line-height: 1.5rem;
$paragraph-font-weight: 400;
$paragraph-max-width: 35ch;
$paragraph-padding: 0.25rem 0.5rem;

$padding: 5rem 4rem;
$border-radius: 1px;

$image-object-position: center;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);
