@use './ImageEffect11Settings' as settings;

@mixin position-absolute-span-full() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin transition($duration-frame-count, $transition-properties...) {
  transition-duration: $duration-frame-count * settings.$transition-duration *
    0.2;
  transition-timing-function: settings.$transition-timing-function;
  transition-property: $transition-properties;
}

@mixin transition-delay($frame-count) {
  transition-delay: $frame-count * settings.$transition-duration * 0.2;
}

.imageEffect {
  position: relative;
  z-index: 0;

  display: grid;
  align-content: center;

  min-height: 100%;
  min-width: 100%;
  border: 4px solid transparent;
  border-radius: settings.$border-radius;
  overflow: hidden;

  background-color: settings.$border-color;
}

.contentWrapper {
  padding: settings.$padding-block settings.$padding-inline;
}

.translateAndOpacityNormal {
  translate: 0 0;

  opacity: 1;
}

.title {
  font-size: settings.$title-font-size;
  line-height: 1;
  font-weight: settings.$title-font-weight;
  text-transform: settings.$title-text-transform;

  padding: settings.$title-padding-block settings.$padding-inline;
  margin-inline: -1 * settings.$padding-inline;
  margin-bottom: settings.$title-margin-bottom;

  translate: 0 (-1 * settings.$content-translation-offset);

  color: settings.$title-color;
  background-color: settings.$title-background-color;
  opacity: 0;

  @include transition(1, translate, opacity);
  @include transition-delay(2);
}
.imageEffect:hover .title {
  @extend .translateAndOpacityNormal;

  @include transition-delay(2);
}

.paragraph {
  font-size: settings.$paragraph-font-size;
  line-height: settings.$paragraph-line-height;

  max-width: settings.$paragraph-max-width;
  margin-bottom: settings.$paragraph-margin-bottom;

  translate: 0 (-1 * settings.$content-translation-offset);

  color: settings.$paragraph-color;
  opacity: 0;

  @include transition(1, translate, opacity);
  @include transition-delay(1);
}
.imageEffect:hover .paragraph {
  @extend .translateAndOpacityNormal;

  @include transition-delay(3);
}

.linkWrapper {
  translate: 0 (-1 * settings.$content-translation-offset);

  opacity: 0;

  @include transition(1, translate, opacity);
  @include transition-delay(0);
}
.imageEffect:hover .linkWrapper {
  @extend .translateAndOpacityNormal;

  @include transition-delay(4);
}

.link {
  display: inline-block;

  font-size: settings.$link-font-size;
  line-height: 1;
  font-weight: settings.$link-font-weight;

  padding: settings.$link-padding;
  border-radius: settings.$link-border-radius;

  color: settings.$link-text-color;
  background-color: settings.$link-background-color;

  cursor: pointer;
  @include transition(2, color, background-color);

  &:hover {
    color: settings.$link-text-color-on-hover;
    background-color: settings.$link-background-color-on-hover;
  }
}

.background {
  @include position-absolute-span-full();
  z-index: -1;

  border-radius: settings.$border-radius;

  transform-origin: top;
  scale: 0;

  background-color: settings.$background-color;
  opacity: 0;

  @include transition(2, scale, opacity);
  @include transition-delay(3);
}
.imageEffect:hover .background {
  scale: 1;

  opacity: 1;

  @include transition-delay(0);
}

.imageWrapper {
  @include position-absolute-span-full();
  z-index: -2;
}

.image {
  display: block;
  object-position: center;
  object-fit: cover;

  height: 100%;
  width: 100%;
  border-radius: settings.$border-radius;

  transform-origin: bottom;
  scale: 1;

  background-color: settings.$image-background-color;
  opacity: 1;

  @include transition(2, scale, opacity);
  @include transition-delay(3);
}
.imageEffect:hover .image {
  scale: 0;

  opacity: 0;

  @include transition-delay(0);
}
