@mixin grid-span-full() {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

@mixin transition() {
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.button {
  @include transition();

  position: relative;

  display: grid;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;

  font-size: 1.25rem;
  font-weight: 500;

  border: 1px solid currentColor;
  border-radius: 1px;
  overflow: hidden;

  color: var(--color-neutral-800);
  border-color: var(--color-neutral-800);

  cursor: pointer;
  transition-property: color;

  &:hover {
    color: var(--color-neutral-200);

    .dynamicBackground {
      translate: 0;
    }
  }
}

.contentWrapper {
  @include grid-span-full();

  padding: 1rem 2rem;
}

.dynamicBackground {
  @include grid-span-full();
  @include transition();

  position: relative;
  z-index: -1;

  translate: -100% 0;

  background-color: var(--color-neutral-800);

  transition-property: translate;
}

.staticBackground {
  @include grid-span-full();

  position: relative;
  z-index: -2;

  background-color: var(--color-neutral-100);
}
