@use './Card7Settings' as settings;

@mixin transition($frame-duration) {
  transition-duration: $frame-duration * settings.$transition-duration * 0.5;
  transition-timing-function: settings.$transition-timing-function;
}

@mixin transition-delay($frame-count) {
  transition-delay: $frame-count * settings.$transition-duration * 0.5;
}

.cardWrapper {
  position: relative;
  z-index: 0;

  display: grid;
  align-content: center;
  justify-content: center;

  min-height: 100%;
  border-radius: settings.$border-radius;
}

.hiddenContentCard {
  position: relative;
  z-index: -2;

  padding-inline: 2 * settings.$card-padding-inline;
  padding-block: 2 * settings.$card-padding-block;

  visibility: hidden;
  opacity: 0;

  pointer-events: none;
}

.imageWrapperCard {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: settings.$border-radius;
  overflow: hidden;
  box-shadow: settings.$card-box-shadow;

  background-color: settings.$image-background-color;
}

.image {
  object-position: settings.$image-object-position;
  object-fit: cover;

  width: 100%;
  height: 100%;
  opacity: 1;

  @include transition(2);
  transition-property: opacity;
}
.cardWrapper:hover .image {
  opacity: settings.$image-opacity-on-hover;
}

.contentCard {
  position: absolute;
  z-index: -1;
  bottom: (2 * settings.$content-padding-block + settings.$title-font-size) *
    0.5;
  left: 50%;

  width: calc(100% - 2 * settings.$card-padding-inline);
  height: 2 * settings.$content-padding-block + settings.$title-font-size;
  border-radius: settings.$border-radius;
  overflow: hidden;
  box-shadow: settings.$card-box-shadow;

  translate: -50% 100%;

  background-color: settings.$card-background-color;

  @include transition(2);
  transition-property: bottom, width, height, translate;
}
.cardWrapper:hover .contentCard {
  bottom: 50%;

  width: 100%;
  height: 100%;

  translate: -50% 50%;
}

.visibleContentWrapper {
  position: absolute;
  top: 0;
  left: 50%;

  display: grid;
  justify-items: center;

  width: max-content;
  padding-block: settings.$content-padding-block;

  translate: -50% 0;

  @include transition(2);
  transition-property: top, padding-block, translate;
}
.cardWrapper:hover .visibleContentWrapper {
  top: 50%;

  padding-block: settings.$content-padding-block-on-hover;

  translate: -50% -50%;
}

.title {
  font-size: settings.$title-font-size;
  line-height: 1;
  font-weight: settings.$title-font-weight;
  text-transform: settings.$title-text-transform;

  margin-bottom: settings.$title-margin-bottom;

  color: settings.$title-text-color;
}

.paragraph {
  text-align: center;

  font-size: settings.$paragraph-font-size;
  line-height: settings.$paragraph-line-height;
  font-weight: settings.$paragraph-font-weight;

  max-width: settings.$paragraph-max-width;
  margin-bottom: settings.$paragraph-margin-bottom;

  translate: 0 settings.$content-translate-amount-on-not-hover;

  color: settings.$paragraph-text-color;
  opacity: 0;

  @include transition(2);
  transition-property: translate, opacity;
}
.cardWrapper:hover .paragraph {
  translate: 0 0;

  opacity: 1;
}

.link {
  display: inline-block;

  font-size: settings.$link-font-size;
  line-height: 1;
  font-weight: settings.$link-font-weight;
  text-transform: settings.$link-text-transform;

  padding: settings.$link-padding;
  border: settings.$link-border-width solid transparent;
  border-radius: settings.$border-radius;

  translate: 0 (2 * settings.$content-translate-amount-on-not-hover);

  color: settings.$link-text-color;
  background-color: settings.$link-background-color;
  border-color: currentColor;
  opacity: 0;

  cursor: pointer;
  @include transition(2);
  transition-property: translate, color, background-color, opacity;

  &:hover {
    color: settings.$link-text-color-on-hover;
    background-color: settings.$link-background-color-on-hover;

    @include transition(1);
  }
}
.cardWrapper:hover .link {
  translate: 0 0;

  opacity: 1;
}
