.nav {
  position: sticky;
  z-index: 1;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;

  padding: 1.25rem 2rem;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;

  background-color: var(--color-neutral-100);
  border-color: var(--color-neutral-300);
}

.pageTitle {
  justify-self: center;

  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;

  color: var(--color-neutral-700);
}

.menuButton {
  display: inline-block;

  font-size: 1rem;
  line-height: 1;
  font-weight: 500;

  padding: 0.5rem 1rem;
  border-radius: 10rem;

  color: var(--color-neutral-100);
  background-color: var(--color-neutral-800);

  cursor: pointer;

  &:first-of-type {
    justify-self: start;
  }

  &:last-of-type {
    justify-self: end;
  }
}

.menuLink {
  @extend .menuButton;

  font-size: 0.875rem;

  min-width: 100%;
}
