// Generic values
$font-size: 1.25rem;
$font-weight: 500;

$border-width: 1px;
$border-radius: 1px;

$transition-duration: 0.5s;
$transition-timing-function: var(--ease-in-out);

// Specific values
$menu-column-gap: 1.25rem;
$menu-padding: 1rem 1.25rem;
$menu-border-width: $border-width;
$menu-background-color: var(--color-neutral-50);
$menu-border-color: var(--color-neutral-100);

$button-padding: 0.5rem 1rem;
$button-corner-outline-width: 0.125rem;
$button-corner-outline-inline-size: 1rem;
$button-corner-outline-block-size: 0.75rem;
$button-corner-outline-offset-factor: 0;
$button-corner-outline-offset-factor-on-hover: 2;
$button-text-color: var(--color-neutral-800);
$button-text-color-on-hover: var(--color-green-900);
$button-corner-outline-color-on-hover: var(--color-green-700);
