@mixin grid-span-full() {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.button {
  position: relative;

  display: grid;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;

  font-size: 1.25rem;
  font-weight: 500;

  border: 2px solid currentColor;
  border-radius: 1px;
  overflow: hidden;

  border-color: var(--color-neutral-800);

  cursor: pointer;

  &:hover {
    .firstContentWrapper {
      translate: 100% -100%;
    }
    .secondContentWrapper {
      translate: 0 0;
    }
  }
}

.contentWrapper {
  @include grid-span-full();

  padding: 1rem 2rem;

  transition: translate 1s ease-out;
}
.firstContentWrapper {
  @extend .contentWrapper;

  translate: 0 0;

  color: var(--color-neutral-800);
  background-color: var(--color-neutral-200);
}
.secondContentWrapper {
  @extend .contentWrapper;

  translate: -100% 100%;

  color: var(--color-neutral-200);
  background-color: var(--color-neutral-800);
}

.background {
  @include grid-span-full();

  position: relative;
  z-index: -1;

  background-color: var(--color-neutral-500);
}
