// Generic values
$padding: 2rem 2.5rem;
$border-width: 1px;
$border-radius: 0.125rem;

$transition-duration: 1s;
$transition-timing-function: var(--ease-in-out);

$color-box-shadow: rgba(0 0 0 / 0.1);

// Specific values
$card-padding-inline: 2.5rem;
$card-padding-block: 2.25rem; // + $card-border-width
$card-border-width: 0.25rem;
$card-box-shadow: 0 0 1rem $color-box-shadow;
$card-background-color: var(--color-sky-50);
$card-background-color-on-hover: var(--color-sky-800);

$title-font-size: 1.25rem;
$title-font-weight: 800;
$title-text-transform: uppercase;
$title-padding-block: 1.25rem;
$title-margin-bottom: 0.75rem;
$title-text-color: var(--color-sky-700);
$title-text-color-on-hover: var(--color-sky-200);

$paragraph-font-size: 1rem;
$paragraph-line-height: 1.5rem;
$paragraph-font-weight: 400;
$paragraph-max-width: 35ch;
$paragraph-margin-bottom: 1.25rem;
$paragraph-text-color: var(--color-sky-900);
$paragraph-text-color-on-hover: var(--color-sky-50);

$link-font-size: 1rem;
$link-font-weight: 600;
$link-text-transform: capitalize;
$link-padding: 1rem 2rem;
$link-border-width: $border-width;
$link-text-color: var(--color-sky-800);
$link-text-color-on-hover: var(--color-sky-50);
$link-background-color: var(--color-sky-50);
$link-background-color-on-hover: var(--color-sky-900);
