$title-color: var(--color-sky-700);
$title-background-color: var(--color-sky-950);
$paragraph-color: var(--color-sky-800);
$background-color: var(--color-sky-50);
$image-background-color: var(--color-neutral-300);

$perspective: 100rem;

$padding-block: 5rem;
$padding-inline: 4rem;
$border-radius: 1px;

$transition-duration: 0.5s;
$transition-timing-function: var(--ease-in-out);

$title-font-size: 1.25rem;
$title-font-weight: 600;
$title-text-transform: uppercase;
$title-padding-block: 1.25rem;
$title-margin-bottom: 0.75rem;

$paragraph-font-size: 1rem;
$paragraph-line-height: 1.5rem;
$paragraph-max-width: 35ch;
$paragraph-margin-bottom: 1.25rem;

$image-rotation-angle-on-hover: 120deg;
